/* #region - stops scroll bounce */
html, body{
  height: 100%;
  overflow: hidden;
}
#root{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
/* #endregion */

/* #region *//* defining variables */

:root {
  /* fonts */
  --input-font-size: 1.8rem;
  --message-font-size: 6vmin;
  --main-font: 'The Girl Next Door';
  --heading-font: 'Rock Salt', cursive;
  /* color */
  --background-pink:#f9d2e4;
  --text-pink-solid: #e01e56;
  --text-pink-opacity:hsla(343, 76%, 50%, 80%);
  --off-white:#f2f2f2;
  --off-white-opacity: hsla(0, 0%, 100%, 70%);
  --outline-color: #ef5b99;
  --outline-color-opacity: hsla(335, 82%, 65%, 0.5);
  --shadow: grey;
  /* grid rows */
  --grid-top-row-size: 25vh;
  --grid-mid-row-size: 50vh;
  --grid-bottom-row-size: 25vh;
  /* grid columns */
  --grid-sides-size: 20vw;
  --grid-middle-size: 60vw;
}
/* #endregion *//* defining variables */ 

body{
  background-color: var(--background-pink);
  background-image: url("textures/natural-paper.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png"); */
}


#grid{
  display:grid;
  grid-template-areas:
      "header header header"
      "message-left message-center message-right"
      "inputs inputs inputs" ;
  grid-template-rows: 
    var(--grid-top-row-size) 
    var(--grid-mid-row-size) 
    var(--grid-bottom-row-size);
  grid-template-columns: 
    var(--grid-sides-size) 
    var(--grid-middle-size) 
    var(--grid-sides-size);
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1, h3{
  color: var(--text-pink-solid);
  color: var(--text-pink-opacity);
}
/* #region heading */
#heading{
  grid-area: header;
  display: grid;
  position: relative;
  align-self: center;
  background-color:  var(--off-white);
  background-image: url("textures/rice-paper-3.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/rice-paper-3.png"); */
  box-shadow: -1px 1px 3px var(--shadow);
  transform:skew(-10deg,-1deg);
  width: 82vw;
  margin: 0% auto;
  /* padding: 0.2% 8% 0.2% 4%; */
}

#headText{
  font-family: var(--heading-font);
  font-size: 12vmin;
  line-height: 10vmin;
  text-align: center;
  opacity: 0.85;
  margin: 4vmin 3vmin;
}
/* #endregion */

/* #region message */
.messagePaper{
  grid-area: message-center;
  position:relative;
  background-color:  var(--off-white);
  background-image: url("textures/rice-paper-3.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/rice-paper-3.png"); */
  box-shadow: -1px 1px 3px var(--shadow);
  transform:skew(-10deg,-1deg);
  /* margin: 7.5% auto; */
  padding: 1% 5%;
  width: 75%;
  align-self:center;
  justify-self: center;
}

.message{
  font-family: 'The Girl Next Door';
  font-size: var(--message-font-size);
  transform:skew(20deg,1deg);
  text-align:center;
  margin: 5px;
  width:100%;
  z-index: 1;
}
/* #endregion */

/* #region inputs and button */
.inputArea{
  display: grid;
  grid-area: inputs;
  position: relative;
  align-self: start;
  justify-self: center;
}

input, button{
  background-color:  var(--off-white);
  background-image: url("textures/rice-paper-3.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/rice-paper-3.png"); */
  border: 1px solid var(--off-white);
  box-shadow: -1px 1px 3px var(--shadow);
  color: var(--text-pink-solid);
  color: var(--text-pink-opacity);
  font-family: var(--main-font);
  font-size: var(--input-font-size);
  height: 40px;
  text-align: center;
  margin: 20px;
}
input:focus{
  caret-color:var(--outline-color);
  caret-color:var(--outline-color-opacity);
  outline-color:var(--outline-color);
  outline-color:var(--outline-color-opacity);
}

  .shadowButton :hover{
      box-shadow:none;
  }
  ::placeholder{
    color: var(--outline-color);
    color: var(--outline-color-opacity);
    font-family: var(--main-font);
    font-size: var(--input-font-size);
    transform: skew(-20deg,-1deg);
    margin: 0 auto;
  }
  #userName{
    transform:skew(20deg,-1deg);
    width: 225px;
  }
  
  #loveName{
    transform:skew(20deg,2deg);
    width: 225px;
  }

  #submit{
    transform:skew(-10deg);
    width: 120px; 
    outline-color:var(--outline-color);
    outline-color:var(--outline-color-opacity);
  }
/* #endregion */



/* #region gosling message */
  .gosling{
    grid-area: message-center;
    display: grid;
    position: relative;
    z-index: 0;
    width: var(--grid-middle-size);
    align-self: center;
    justify-items: center;
  }
  
  .gosPic{
    position: absolute;
    width: var(--grid-middle-size);
    box-shadow: -2px 2px 6px var(--shadow);
    margin: 0 auto;
    z-index: 0;
  }
  .gosMessage{
    position:relative;
    top: 0;
    left: 0;
    padding:1%;
    margin: 1% 40% 1% 1%;
    font-family: var(--main-font);
    font-size: 4.1vw;
    line-height: 140%;
    white-space: pre-wrap;
    color: var(--off-white);
    color:var(--off-white-opacity);
    z-index: 1;
  }
/* #endregion */

/* #region media queries */

@media (max-width: 750px){
  /* #region *//* defining variables */
  :root {
    /* grid rows */
    --grid-top-row-size: 34vh;
    --grid-mid-row-size: 40vh;
    --grid-bottom-row-size: 26vh;
    /* grid columns */
    --grid-sides-size: 10vw;
    --grid-middle-size: 80vw;

  }
  /* #endregion *//* defining variables */ 
  button {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 544px){
  :root{
    /* grid rows */
    --grid-top-row-size: 26vh;
    --grid-mid-row-size: 25vh;
    --grid-bottom-row-size: 39vh;
  }
  #heading{
    align-self: end;
  }
  input{
    display: list-item;
    margin: 15px auto;
  }
  button{
    display: list-item;
    margin: 35px auto;
  }
}

/* height */
@media (max-height:545px){
  :root{
    /* grid rows */
    --grid-top-row-size: 30vh;
    --grid-mid-row-size: 20vh;
    --grid-bottom-row-size: 34vh;
    /* font size */
    --input-font-size: 6vmin;
    --message-font-size: 7vmin;
  }

  .gosling{
    width: 80%;
    justify-self: center;
  }
  .gosPic{
    width: 80%;
  }
  .gosMessage{
    font-size: 2.5vw;
    margin-left: 12%;
  }
}

/* #endregion media queries */
  
